@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    --bg-color: #f4f4f4;
    --container-color: #fff;
    --text-color: #000;
    --button-color: #1f2756;
    --button-hover-color: #1395d3;
    --input-border-color: #ccc;
    --input-bg-color: #fff;
    --message-success-bg: #dff0d8;
    --message-error-bg: #f2dede;
    --message-success-text: #3c763d;
    --message-error-text: #a94442;
}

body.dark {
    --bg-color: #292c35;
    --container-color: #333;
    --text-color: #fff;
    --button-color: #1395d3;
    --button-hover-color: #1f2756;
    --input-border-color: #666;
    --input-bg-color: #444;
    --message-success-bg: #5cb85c;
    --message-error-bg: #f2dede;
    --message-success-text: #3c763d;
    --message-error-text: #a94442;
}
* {box-sizing: border-box;}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
   color: var(--text-color);
}

body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
.container {
    width: 90%;
    max-width: 400px;
    background-color: var(--container-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: background-color 0.3s ease;
}
h1,h4 {
    text-align: center;
     color: var(--text-color);
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
    transition: color 0.3s ease;
}
input[type="email"],
input[type="text"],
textarea {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--input-bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.button-group {
    text-align: center;
}
button {
   background-color: var(--button-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: var(--button-hover-color);
}
#statusMessage {
    margin-top: 10px;
    text-align: center;
    color: var(--text-color);
    transition: color 0.3s ease;
}
.message {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.message.success {
    background-color: var(--message-success-bg);
    color: var(--message-success-text);
}
.message.error {
    background-color: var(--message-error-bg);
    color: var(--message-error-text);
}
/* CSS for new implementation */
.hidden {
    display: none;
}
.login-options {
    text-align: center;
}
.login-options button {
    margin: 0 10px;
}
/* icon css */
.liw {
    text-align: center;
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-bottom: 20px;
}
.icons a {
    text-decoration: none;
}
.icons ion-icon {
    font-size: 20px;
    color: var(--button-color);
    height: 30px;
    width: 30px;
    transition: color 0.3s ease;
}
.icons ion-icon:hover {
    color: var(--button-hover-color);
    transform: scale(1.05);
}

/* Responsive styles */
@media screen and (min-width: 768px) {
    /* Tablet and larger screens */
    .container {
        max-width: 500px;
    }
}
@media screen and (min-width: 992px) {
    /* desktop and larger screens */
    .container {
        max-width: 600px;
    }
}
/* The switch - the box around the slider */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
   transition: 0.2s ease;
    z-index: 10; /* Ensure it's above other content */
    position: fixed; /* Keep it fixed on the screen */
    top: 10px;
    right: 10px;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}